html, body {
  margin: 0 auto;
  height: 100%;
}

body {
  background: url("/images/bg.png") no-repeat center center fixed;
  background-size: cover;
}

.loading {
  position: absolute;
  left: 35%;
  top: 40%;
  margin: 0 auto;
  width: 40%;
  p {
    font-family: 'Old Standard TT', serif;
    font-style: italic;
    font-size: 2.5em;
    color: #FFF;
  }
  i {
    margin-left: 32%;
    color: rgba(255, 255, 255, 0.8);
    font-size: 2em;
  }
}

.playground {
  margin: 0 auto;
  width: 90%;
}

#c {
  position: relative;
  z-index: 2;
  text-align: center;
}

.cbp-spmenu-vertical {
  a{
    border-bottom: 1px solid rgba(255,255,255,0.5);
    padding: 1em;
  }
  input {
    border-bottom: 1px solid rgba(255,255,255,0.5);
    padding: 1em;
    background-color: transparent;
    border: none;
    outline: none;
    color: #FFF;
    line-height: 2em;
  }
}

.lastfm-username {
  a {
    display: inline;
    cursor: pointer;
    border-bottom: none;
    margin-left: -55px;
    i {
      font-size: 0.8em;
    }
  }
  a:hover {
    background: none;
  }
}
