html, body {
  margin: 0 auto;
  height: 100%;
}

body {
  background: url("/images/bg.png") no-repeat center center fixed;
  background-size: cover;
}

*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

a {
	color: #f0f0f0;
	text-decoration: none;
}

a:hover {
	color: #FFF;
}


.loading {
  position: absolute;
  left: 35%;
  top: 40%;
  margin: 0 auto;
  width: 40%;
  p {
    font-family: 'Old Standard TT', serif;
    font-style: italic;
    font-size: 2.5em;
    color: #FFF;
  }
  i {
    margin-left: 32%;
    color: rgba(255, 255, 255, 0.8);
    font-size: 2em;
  }
}

.playground {
  margin: 0 auto;
  width: 90%;
}

#c {
  position: relative;
  z-index: 2;
  text-align: center;
}

.cbp-spmenu-vertical {
	background: rgba(0, 0, 0, 0.3);
	position: fixed;
  input {
    border-bottom: 1px solid rgba(255,255,255,0.5);
    padding: 1em;
    background-color: transparent;
    border: none;
    outline: none;
    color: #FFF;
    line-height: 2em;
  }
  h3 {
    color: #afdefa;
    font-size: 1.9em;
    padding: 20px;
    margin: 0;
    font-weight: 300;
  }
  a {
    display: block;
    color: rgba(255,255,255,0.8);
    font-size: 1.1em;
    border-bottom: 1px solid rgba(255,255,255,0.5);
    padding: 1em;
  }
  a:hover {
    background: rgba(0, 0, 0, 0.3);
  }
  a:active {
    color: #47a3da;
  }
  .github{
    position: absolute;
    border-bottom: none;
    bottom: 0;
    width: 100%;
  }
}
.genres {
  width: 240px;
  a {
    cursor: pointer;
    border-bottom: none;
    float: left;
    width: 120px;
  }
}

.lastfm-username {
  a {
    display: inline;
    cursor: pointer;
    border-bottom: none;
    margin-left: -30px;
    i {
      font-size: 0.8em;
    }
  }
  a:hover {
    background: none;
  }
}

/* Orientation-dependent styles for the content of the menu */

.cbp-spmenu-vertical {
	width: 240px;
	height: 100%;
	top: 0;
	z-index: 1000;
}

.cbp-spmenu-left {
	left: -240px;
}

.cbp-spmenu-left.cbp-spmenu-open {
	left: 0px;
}

/* Push classes applied to the body */

.cbp-spmenu-push {
	overflow-x: hidden;
	position: relative;
	left: 0;
}

.cbp-spmenu-push-toright {
	left: 240px;
}

.cbp-spmenu-push-toleft {
	left: -240px;
}

/* Transitions */

.cbp-spmenu,
.cbp-spmenu-push {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.left {
  button{ 
    border: none;
    background: rgba(0, 0, 0, 0.1);
    color: #fff;
    display: block;
    width: 38px;
    cursor: pointer;
    margin: 10px 0;
    font-size: 0.8em;
    outline:none;
    position: absolute;
    top: 35%;
    border-radius: 0 13px 13px 0;
    padding: 50px 0 50px 0;
  }
  button:hover {
    background: rgba(0, 0, 0, 0.3);
  }

  button.active {
    background: rgba(0, 0, 0, 0.5);
  }
}

