html, body {
  margin: 0 auto;
  height: 100%;
}

body {
  background: url("/images/bg.png") no-repeat center center fixed;
  background-size: cover;
}

.loading {
  position: absolute;
  left: 35%;
  top: 40%;
  margin: 0 auto;
  width: 40%;
}
.loading p {
  font-family: 'Old Standard TT', serif;
  font-style: italic;
  font-size: 2.5em;
  color: #FFF;
}
.loading i {
  margin-left: 32%;
  color: rgba(255, 255, 255, 0.8);
  font-size: 2em;
}

.playground {
  margin: 0 auto;
  width: 90%;
}

#c {
  position: relative;
  z-index: 2;
  text-align: center;
}

.cbp-spmenu-vertical {
  background: rgba(0, 0, 0, 0.3);
  position: fixed;
}
.cbp-spmenu-vertical input {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  padding: 1em;
  background-color: transparent;
  border: none;
  outline: none;
  color: #FFF;
  line-height: 2em;
}
.cbp-spmenu-vertical h3 {
  color: #afdefa;
  font-size: 1.9em;
  padding: 20px;
  margin: 0;
  font-weight: 300;
}
.cbp-spmenu-vertical a {
  display: block;
  color: rgba(255, 255, 255, 0.8);
  font-size: 1.1em;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  padding: 1em;
}
.cbp-spmenu-vertical a:hover {
  background: rgba(0, 0, 0, 0.3);
}
.cbp-spmenu-vertical a:active {
  color: #47a3da;
}
.cbp-spmenu-vertical .github {
  position: absolute;
  border-bottom: none;
  bottom: 0;
  width: 100%;
}

.lastfm-username a {
  display: inline;
  cursor: pointer;
  border-bottom: none;
  margin-left: -55px;
}
.lastfm-username a i {
  font-size: 0.8em;
}
.lastfm-username a:hover {
  background: none;
}

/* Orientation-dependent styles for the content of the menu */
.cbp-spmenu-vertical {
  width: 240px;
  height: 100%;
  top: 0;
  z-index: 1000;
}

.cbp-spmenu-left {
  left: -240px;
}

.cbp-spmenu-left.cbp-spmenu-open {
  left: 0px;
}

/* Push classes applied to the body */
.cbp-spmenu-push {
  overflow-x: hidden;
  position: relative;
  left: 0;
}

.cbp-spmenu-push-toright {
  left: 240px;
}

.cbp-spmenu-push-toleft {
  left: -240px;
}

/* Transitions */
.cbp-spmenu,
.cbp-spmenu-push {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
